// colors https://mycolor.space/?hex=%2332465A&sub=1
$primary: #32465a;
$_primary: #32465a;
$secondary: #1B6C83;
$_secondary: #1B6C83;
$third: #009598;
$background: #D5F4FF;
$highlight: #E39E21;

$color-primary: $primary;
$color-secondary: $secondary;
$color-third: $third;
$color-background: $background;
$color-highlight: $highlight;

$theme-colors: (
    "primary":    $_primary,
    "secondary":  $_secondary,
    "third":      $third,
    "background": $background,
    "highlight":  $highlight
);

@import "~bootstrap/scss/bootstrap";

$received: $third;
$reply: #95DE81;

// font
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
