.messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    background: $lightgrey;
}

.message {
    width: 60%;
    background: $received;
    color: $black;
    float: left;
    margin: 7px;
    border-radius: 3px;
    padding: 5px 15px;

    &.reply {
        background: $reply;
        float: right;
    }
}
