::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: $gray-200;
  border-radius: .25rem;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: .25rem;

  &:hover {
    background: $secondary;
  }
}
