// colors https://mycolor.space/?hex=%2332465A&sub=1
$primary: #32465a;
$secondary: #1B6C83;
$third: #009598;
$background: #CCCCCC;
$background2: #100e1f;
$bg-gradient: linear-gradient(135deg, $background 10%, $background2 90%);
$highlight: #E39E21;

$color-primary: $primary;
$color-secondary: $secondary;
$color-third: $third;
$color-background: $background;
$color-highlight: $highlight;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "third":      $third,
    "background": $background,
    "highlight":  $highlight
);

$received: $third;
$reply: #95DE81;

// font
$font: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
